<main>
        <div class="row  heroes">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="logoh1">Pokedex App</h1>
                <p class="lead text-muted">Pokemon, also known as Pocket Monsters in Japan,
                    is a Japanese media franchise managed by the Pokemon Company, a company founded by Nintendo.
                </p>
                {{!-- <img class="heroimg" src="assets/imgs/pokemons/pikachu.png" alt="" srcset=""> --}}
            </div>
        </div>

                    <div class="album py-5 homeCards">
                        <div class="container">
                            <div class="row">
                            {{!-- {{#if hasHeroes}} --}}

                                    {{#each pokemon as |pokem|}}
                                <div class="card col-md-3">
                                        <div class="card-body">
                                            <div class="img-div">
                                                {{!-- <img class="pokemonimg" src="assets/imgs/pokemons/pikachu.png" alt="" srcset=""> --}}
                                                <img class="pokemonimg" src="{{pokem.imageUrl}}" class="img_movie card-img-top" alt="{{pokem.name}}" />
                                                <h5 class="card-title">{{pokem.name}}</h5>
                                            </div>
                                            <p class="card-text">{{pokem.description}}</p>
                                            <h6 class="card-subtitle mb-2 text-muted">Type:  {{pokem.race.dataValues.name}}</h6>
                                            <h6 class="card-subtitle mb-2 text-muted">Region:  {{pokem.race.dataValues.name}} </h6>
                                        </div>
                            </div>
                                    {{/each}}
                         </div>
                    </div>
{{!-- 
                {{else}}

                    <h1 class="notcreated">There are not pokemon created</h1>

                {{/if}}  --}}

                </div>
            </div>
        </div>
</main>