<main>
    <div class="row  heroes">
                    <div class="col-lg-6 col-md-8 mx-auto  info-pokemon">
                        <h1 class="logoh1">Gotta Catch 'Em All!</h1>
                        <p>
                            <a href="/create-pokemon" class="btn btn-create my-2">Create a new pokemon</a>
                        </p>
                        <div class="imgs-pokemon">
                            <img src="assets/imgs/ash.png" alt="" srcset="">
                            <img src="assets/imgs/background.jpg" alt="" srcset="">
                        </div>
                    </div>
                    <div class="pokemon-background">
                        <img src="assets/imgs/pokemons/charizard.png" alt="Charizard" srcset="">
                    </div>
    </div>
        <div class="album py-5">
        <div class="container">

            <div class="row">

            {{#if hasPokemon}}

                {{#each pokemon as |pokem|}}

                <div class="card col-md-3">
                    <div class="card-body">
                    <div class="img-div">
                        <img class="pokemonimg" src="{{this.imageUrl}}" class="img_movie card-img-top" alt="{{this.name}}" />
                        <h5 class="card-title">{{this.name}}</h5>
                    </div>
                    <p class="card-text">{{this.description}}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Type: {{pokem.type.dataValues.name}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Region: {{pokem.region.dataValues.name}} </h6>
                            <form id="form-delete" class="form-inline" action="/delete-pokemon" method="post">
                                <input type="hidden" name="pokemonId" value="{{this.id}}" />
                                <button type="submit" id="delete-pokemon" class="btn btnDelete delete-pokemon btn-danger float-end">Delete</button>
                            </form>
                            <a
                                href="/edit-pokemon/{{this.id}}?edit=true"
                                class="btn btn-warning float-end btnEdit"
                            >Edit</a>
                    </div>
                </div>

                {{/each}}

            {{else}}

                <h1 class="notcreated">There are not pokemon created</h1>

            {{/if}}

            </div>
        </div>
        </div>
</main>