<div class="row">
    {{!-- {{#if hasRegion}} --}}
      <div class="card pokemon-card">
        <div class="card-header pokemon-header text-white">
          {{#if editMode}}Edit{{else}}Create{{/if}} a pokemon
        </div>
        <div class="card-pokemon">
          <form method="POST" action="{{#if editMode}}/edit-pokemon{{else}}/create-pokemon{{/if}}">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="Name" value="{{#if editMode}}{{pokemon.name}}{{/if}}" required />
            </div>
                     
            <div class="mb-3">
              <label for="image-file" class="form-label">Upload Image:</label>
              <input type="file" class="form-control" id="image-file" name="Image"  {{#if editMode}}{{else}}required{{/if}}/>
            </div>

            <div class="mb-3">
              <label for="type" class="form-label">Type: </label>
              <select class="form-select" id="type" name="Type">
                <option {{#if editMode}}{{else}}selected{{/if}}>Select an option</option>

                {{#each type as |type|}}

                    {{#if (equalValue type.typeId ../type.typeId )}}
                    <option selected value="{{type.typeId}}">{{type.name}}</option>
                    {{else}}
                    <option value="{{type.typeId}}">{{type.name}}</option>
                    {{/if}}
                  
                {{/each}} 
                
              </select>
            </div>


            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                name="Description"
                id="description"
                cols="60"
                rows="5"
                class="form-control"
              >{{#if editMode}}{{pokemon.description}} required{{/if}} </textarea>
            </div>

            <div class="mb-3">
              <label for="region" class="form-label">Region: </label>
              <select class="form-select" id="region" name="Region">
                <option {{#if editMode}}{{else}}selected{{/if}}>Select an option</option>

                {{#each region as |region|}}

                    {{#if (equalValue region.regionId ../region.regionId )}}
                    <option selected value="{{region.regionId}}">{{region.name}}</option>
                    {{else}}
                    <option value="{{region.regionId}}">{{region.name}}</option>
                    {{/if}}
                  
                {{/each}} required
                
              </select>
            </div>
  

          {{#if editMode}}

          <input type="hidden" name="pokemonId" value="{{pokemon.id}}">
          
          {{/if}}

          <button type="submit" class="btn btn-primary">{{#if editMode}}Edit{{else}}Create{{/if}}</button>
           <a href="/pokemons" type="button" class="btn btn-warning">Back</a>
        </form>

      </div>
    </div>

    {{!-- {{else}} 

    <h1 class="notcreated">There are not pokemon created</h1>

    {{/if}} --}}

    </div>
</div>