<main>
    <div class="row  heroes">
                    <div class="col-lg-6 col-md-8 mx-auto  info-pokemon">
                        <h1 class="logoh1">Gotta Catch 'Em All!</h1>
                        <p>
                            <a href="/create-type" class="btn btn-create my-2">Create a new type</a>
                        </p>
                        <div class="imgs-pokemon">
                            <img src="assets/imgs/ash.png" alt="Ash and Pikachu picture" srcset="">
                            <img src="assets/imgs/background.jpg" alt="Pokemon Picture" srcset="">
                        </div>
                    </div>
                    <div class="pokemon-background">
                        <img class="bulbasur-type" src="assets/imgs/pokemons/bulbasur.png" alt="Bulbasur picture" srcset="">
                    </div>
    </div>
        <div class="album py-5">
        <div class="container">

            <div class="row">
            {{#if hasType}}
                <div class="cardRegions">
                    {{#each type}}
                    <div class={{this.name}}>
                            <div class="list">
                                <h2 class="h5Region">{{this.name}}</h2>
                                <p class="paragRegion">{{this.description}}</p>
                                <div class="btns">
                                    <a href="/edit-type/{{this.id}}?edit=true"
                                        class="btn btn-warning">Edit
                                    </a>

                                    <form id="form-delete" class="form-inline DeleteType" action="/delete-type" method="post">
                                            <input type="hidden" name="typeId" value="{{this.id}}" />
                                            <button type="submit" id="delete-type" class="btn btn-danger delete-type">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>

            {{else}}

                <h1 class="notcreated">There are not type of pokemon created</h1>

            {{/if}}

            </div>
        </div>
        </div>
</main>