<main>
    <div class="row  heroes">
                    <div class="col-lg-6 col-md-8 mx-auto  info-pokemon">
                        <h1 class="logoh1">Gotta Catch 'Em All!</h1>
                        <p>
                            <a href="/create-region" class="btn btn-create my-2">Create a new region</a>
                        </p>
                        <div class="imgs-pokemon">
                            <img src="assets/imgs/ash.png" alt="Ash and Pikachu picture" srcset="">
                            <img src="assets/imgs/background.jpg" alt="Pokemon Picture" srcset="">
                        </div>
                    </div>
                    <div class="pokemon-background">
                        <img class="squirtle-region" src="assets/imgs/pokemons/squirtle.png" alt="Charizard picture" srcset="">
                    </div>
    </div>
        <div class="album py-5">
        <div class="container">

            <div class="row">

            {{#if hasRegion}}

            <div class="cardRegions">
                {{#each region}}
                        <div class="list">
                            <h2 class="h5Region">{{this.name}}</h2>
                            <p class="paragRegion">{{this.description}}</p>
                            <div class="btns">
                                <a
                                    href="/edit-region/{{this.id}}?edit=true"
                                    class="btn btn-warning"
                                >Edit</a>

                                <form id="form-delete" class="form-inline DeleteRegion" action="/delete-region" method="post">
                                    <input type="hidden" name="regionId" value="{{this.id}}" />
                                    <button type="submit" id="delete-region" class="btn btn-danger delete-region">Delete</button>

                                </form>
                            </div>
                        </div>
                {{/each}}
            </div>

            {{else}}

                <h1 class="notcreated">There are not regions created</h1>

            {{/if}}

            </div>
        </div>
        </div>
</main>