<div class="row">
    <div class="col-md-12">

      <div class="card pokemon-card">
        <div class="card-header pokemon-header text-white">
          {{#if editMode}}Edit{{else}}Create{{/if}} a region
        </div>
        <div class="card-pokemon">
          <form method="POST" action="{{#if editMode}}/edit-region{{else}}/create-region{{/if}}">
            <div class="mb-3">
              <label for="name" class="form-label">Region Name</label>
              <input type="text" class="form-control" id="name" name="Name" value="{{#if editMode}}{{region.name}}{{/if}}" />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                name="Description" id="description"cols="60" rows="5" class="form-control"
              >{{#if editMode}}{{region.description}}{{/if}}</textarea>
            </div>


          {{#if editMode}}

          <input type="hidden" name="regionId" value="{{region.id}}">
          
          {{/if}}

          <button type="submit" class="btn btn-primary">{{#if editMode}}Edit{{else}}Create{{/if}}</button>
           <a href="/regions" type="button" class="btn btn-warning">Back</a>
        </form>

      </div>
    </div>

    {{!-- {{else}}

    <h1 class="notcreated">There are not regions created</h1> 

    {{/if}} --}}

    </div>
</div>