<div class="row">
    <div class="col-md-12">

    {{!-- {{#if hasRaces}} --}}
      <div class="card pokemon-card">
        <div class="card-header pokemon-header text-white">
          {{#if editMode}}Edit{{else}}Create{{/if}} a region
        </div>
        <div class="card-pokemon">
          <form method="POST" action="{{#if editMode}}/edit-region{{else}}/create-region{{/if}}">
            <div class="mb-3">
              <label for="name" class="form-label">Region Name</label>
              <input type="text" class="form-control" id="name" name="Name" value="{{#if editMode}}{{hero.name}}{{/if}}" />
            </div>
          {{#if editMode}}

          <input type="hidden" name="regionId" value="{{hero.id}}">
          
          {{/if}}

          <button type="submit" class="btn btn-primary">{{#if editMode}}Edit{{else}}Create{{/if}}</button>
           <a href="/" type="button" class="btn btn-warning">Back</a>
        </form>

      </div>
    </div>

    {{!-- {{else}} --}}

    {{!-- <h1 class="notcreated">There are not pokemon created</h1> --}}

    {{!-- {{/if}} --}}

    </div>
</div>